.fixed-width-30 {
  min-width: 30px;
  display: inline-block
}

.feather {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
